html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: rgb(112,116,220) !important;
    margin-bottom: 60px;
    color: white;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.nav-link.active {
    border-radius: 10px;
    color: white !important;
    background-color: rgba(20,14,32,255) !important;

}

.avatar-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
    object-fit: cover;
}

    .avatar-img:hover {
        transform: scale(1.05);
        border-color: #007bff;
    }

    .avatar-img.selected {
        border-color: #007bff;
        box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
    }

.avatar-option {
    position: relative;
    display: inline-block;
}

.checkmark {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

