@{
    ViewBag.Title = "Email Confirmed";
}
<h2 class="align-content-center">Your email has been confirmed. You can now log in.</h2>
<a class="align-content-center border-dark" href="/auth/login">Go to Login</a>
